/* 
    This stylesheet is applied when the user want to show responsive desing only in mobile and not in tabelts else it just sits here
    @since Supernova 1.5.2
*/



@media only Screen and (max-width:320px){        
        body{font-size: 60%; min-width: 10px !important;}
	#wrapper, #footer, #top_most {width:100% !important; margin:0; padding:0;}
	#content_wrapper #content{width:100%!Important}
	#content_wrapper #sidebar{width:90% !important; margin-left:5%}
	#supernova_slider_wrapper {width:95%;}
	h2.post_title {font-size:2.2em !important; margin-bottom: .7em; }
	#footer #footer_widgets .widget{clear:both; width:60%; margin-left:5%}
	#footer_left_part {max-width:55%; margin-left:5%}	
	#nav_search{display:none}
	.top_search{display:none}
	.header_catnav {display:none}
	#supernova_slider_wrapper {min-height: 100%;}
	/*Top Most Nav*/
	#header_navigation{min-width:30%; max-width:45%; position:fixed; left:0; top:0; z-index:99999999; display:none }
	#top_most{width:18% !Important;background : #272727;webkit-box-shadow: #000 inset 0 0 5px 5px;-moz-box-shadow: #000 inset 0 0 5px 5px;box-shadow: #000 inset 0 0 5px 5px; padding-bottom:40px;position: relative;}
	#top_nav li ul{display:block!Important; position:relative; box-shadow:none; background: #272727; border-left: 2px solid #ccc;margin-left:5%; border-radius:0}
	#top_most li{float:none; padding-right:0;border-bottom: 1px solid #383838;}
	#top_most li ul li{border-bottom:none;}
	.hasChildren{!display:none;}
	#top_nav li ul:before{display:none;}
	#top_nav li:hover > ul{display:block !important;}
	#top_nav li ul li:hover ul{left:0%;top:0}
	#top_nav li a{color:#ccc;background:transparent; text-shadow: 0 1px 0 rgba(0,0,0,0.5); font-weight: bold;font-family: 'PT Sans Narrow', sans-serif;}
	#top_nav li a:hover{background: rgba(255,255,255,0.02);}
	#top_nav li ul li a {width:90% !important; display:block; font-size:1.6em; text-transform:none; padding-right:0; padding-left: 5%;}
	#top_nav li ul li a:hover{background: rgba(255,255,255,0.02);}
	.header_nav{max-width:100%;margin-top: 60px; float:none;margin-left:0;}
	#top_nav li ul li, #nav li ul li a {float:none;}
	#top_nav li a{box-shadow:none; font-size:1.6em; border-bottom: 1px solid #1C1C1C; text-transform:none;}
	
	#media_nav{width:100%;z-index:999999;background: #272727;webkit-box-shadow: #000 inset 0 0 5px 5px;-moz-box-shadow: #000 inset 0 0 5px 5px;box-shadow: #000 inset 0 0 5px 5px; overflow:visible; height:auto !important;padding-top: 6px; position:relative;}
	.media_left{width:10%; height:45px;background: url(../images/lines.png) no-repeat top left; position:absolute; left:0; top:0; min-width:30px;cursor:pointer}
	.media_right{width:10%; height:45px;background: url(../images/lines.png) no-repeat top left; position:absolute; right:0; top:0;min-width:30px;cursor:pointer}	
	.media_left_close{display:block; position:absolute; top:30px; right:30px; background:#ccc url(../images/bg_direction_nav.png) left no-repeat; width:27px; height:27px;z-index:99999;cursor:pointer; border-radius:50px}
	.media_right_close{display:block; position:absolute; top:30px; left:20px; background:#ccc url(../images/bg_direction_nav.png) right no-repeat; width:27px; height:27px;z-index:9999999; cursor:pointer; border-radius:50px}
	#media_nav-SupernovaSticky-wrapper, #media_nav{display:block;}
        #top_most-SupernovaSticky-wrapper{height: auto !important;} /*Fix for slidenavigation*/

		/*Top Most Nav*/
	#wrapper #nav_wrapper{min-width:30%; max-width:45%!important; float:right; position:fixed; right:0; top:0;z-index:999999;background: #272727;webkit-box-shadow: #000 inset 0 0 5px 5px;-moz-box-shadow: #000 inset 0 0 5px 5px;box-shadow: #000 inset 0 0 5px 5px; display:none;}
	#wrapper #nav{max-width:100%; width:100%;margin-top: 60px !important;}
	#wrapper  #nav li ul{display:block!Important; position:relative; box-shadow:none; background: #272727; top:0; padding-top:0; border-radius:0; box-shadow:none !important; border-left: 2px solid #ccc; margin-left:5%}
	#wrapper #nav li{float:none; padding-right:0;border-bottom: 1px solid #383838;margin-bottom:0;padding-left: 15px;}
	#wrapper #nav li ul li{border-bottom:none;padding-left: 0%;}
	.hasChildren{!display:none;}
	#wrapper #nav li ul:before{display:none;}
	#wrapper #nav li:hover > ul{display:block !important;}
	#wrapper #nav li ul li:hover ul{left:0%;top:0}
	#wrapper #nav li a{color:#ccc;background:transparent; text-shadow: 0 1px 0 rgba(0,0,0,0.5); padding-bottom:0}
	#wrapper #nav li a:hover{background: rgba(255,255,255,0.02);}
	#wrapper #nav li ul li a {width:90% !important; display:block; font-size:1.6em; text-transform:none; padding-right:0; padding-left: 5%;}
	#wrapper #nav li ul li a:hover{background: rgba(255,255,255,0.02);}
	#wrapper #nav li ul li, #nav li ul li a {float:none;}
	#wrapper #nav li a{box-shadow:none; font-size:1.6em; border-bottom: 1px solid #1C1C1C; text-transform:none; padding:10px 0; display:block}
        #supernova_breadcrumbs {margin-top: -16px;}
	
	/*Search*/
	.media_search{width: 70%; margin:1px auto;height: 32px;margin-bottom: 7px;}
	.media_search .searchform  input.supernova_search {width:88%; background:#fff url(../images/search-icon.png) no-repeat 7px 6px; float:none;}
        
        /*Next Previos Single Page*/
        .next_prev_post{position: static;}
        .next_prev_post .next_post{clear: both;border-top: 1px solid #e6e6e6;}
        .next_prev_post .next_post, .next_prev_post .prev_post{position: relative;width:99.6%;border-right: 1px solid #e6e6e6;border-left:  1px solid #e6e6e6;}
        
	}
	
@media only Screen and (max-width:320px){        
	.flexslider .featured_content h3{font-size:2em;}
	.flexslider .featured_content p{font-size:1.1em}
	.flexslider .featured_content a{padding-top:1em;}
        .flexslider .slides img {height:250px;}
        #tabs div {font-size: 1.3em;}
        h1.latest_blogs {font-size: 2.2em;}
        #header_title h1 {font-size: 2em}
         #wrapper #nav_wrapper{min-width:60%;}
	.flexslider .featured_content {min-height: 60px;}
	.flexslider .featured_content h3 {font-size:2em;font-size: 2em;;}
        .flexslider .slides img {height:200px;}
          #content_wrapper #sidebar{width:90% !important;}
          #title_wrapper {padding-bottom: 0;}
          #header_title {padding-bottom: 0!important;}   
          #tabs div {margin-right: 0;}
          #wrapper .widget .supernova_tabber .supernova_tabber_top li{margin-right: 0;}
	}
